  <div class="jumbotron">
    <div class="transpview">
    <h1 class="title"> Offer · 无忧 </h1>
    <p class="slogan">发现潜力未来
    <br>
    尽在无忧
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
    </div>
  </div>


<div class="row">
   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">岗位真实性认证</h2>
           <p class="led">告别虚假岗位信息<br />保障应征者权益</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">世界500强入驻</h2>
           <p class="led">无忧网的专业属性<br />获得入驻的500强企业一致认可</p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
           <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">最高效<br />专业的互联网招聘平台</h2>
           <p class="led">在无忧<br />发现新的职业机会</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>
 </div>
